/*Universal style*/
html {
	height: 100%;
}
body {
	font-family: Roboto, Helvetica, sans-serif;
	height: 100%;
	margin: 0%;
}

#root{
	height: 100%;
	position: relative;
}

.react-transform-component, .react-transform-element{
	max-height: 100%;
	width: auto !important;
	height: 100% !important;
	/* display: block !important; */
	flex: 7;
}

.ReactModal__Overlay {
	background-color: transparent !important;
}

.left {
	background-color: blue;
	flex: 3;
	height:100%;
	display: flex;
	background-color: #20303f

}

.right {
	flex: 2;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.up {
	background-color: red;
	height: 100px;
	flex: 1;
}
.down {
	background-color: green;
	height: 2500px;
	flex: 5;
	overflow-y: scroll;
}

.test {
	display: inline-block;
    position: relative;
	/* border-top: 0.1px solid rgb(161,169,170);
	border-bottom: 0.1px solid rgb(161,169,170); */
}

.test:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 90%;
    left: 5%;
    border-bottom: 1px solid grey;
  }

.selected {
	background-color: #131d27;
}
.selected:before {
	border: none !important;
}

.selectedPrev::before {
	border: none !important;
}

#candidateInfo:before {
	content: '';
    position: absolute;
    right: 0;
    height: 90%;
    left: 5%;
    border-right: 1px solid grey;
}

:root {
	--bg:  #e0e0e0;;
	--bg-accent: #484a4d;
	--text-color: #dadce1;
	--nav-size: 60px;
	--border: 1px solid #474a4d;
	--border-radius: 8px;
	--speed: 600ms; 
	--boxShadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  }

.menu {
	position: absolute;
	width: 100%;
	display: flex;
	overflow-y: scroll;
	flex-direction: column;
	height: 100%;
  }
  
  .menu-primary-enter {
	position: absolute;
	transform: translateX(-110%);
  }
  .menu-primary-enter-active {
	transform: translateX(0%);
	transition: all var(--speed) ease;
  }
  .menu-primary-exit {
	position: absolute;
  }
  .menu-primary-exit-active {
	transform: translateX(-110%);
	transition: all var(--speed) ease;
  }
  
  
  
  .menu-secondary-enter {
	transform: translateX(110%);
  }
  .menu-secondary-enter-active {
	transform: translateX(0%);
	transition: all var(--speed) ease;
  }
  .menu-secondary-exit {
  
  }
  .menu-secondary-exit-active {
	transform: translateX(110%);
	transition: all var(--speed) ease;
  }


/* width */
::-webkit-scrollbar {
	width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #1d2732;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: rgba(29, 29, 29, 0.507);
	border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
  }


@media only screen and (max-width: 700px) {
}
